body {
  background: linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
  padding-top: 4rem;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.searchMessage {
  margin-top: 20px;
  font-size: 25px;
  color: white;
}

.card {
  border: 2px solid white;
  border-radius: 4px;
  padding: 0.5rem;
}

.container {
  padding-bottom: 5rem;
}

.fa-smile-wink {
  color: #7ac5d8;
}
.fa-smile-wink:hover {
  color: #b49fda;
}

/*
#fda085 #fee140 #b49fda #96e6a1
*/
